{% extends 'signup/baseTemplate.html' %}
{% block content %}
<div class="d-flex justify-content-center mt-5">
    <div class="">
        <h2 class="container">Who's Sign up?</h2>
        <hr>
        <div class="row">
            <div class="col">
                <a href="userSignupSession/d" class="btn btn-primary">Doctor</a>
            </div>
            <div class="col">
                <a href="userSignupSession/p" class="btn btn-primary">Patient</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}